version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    reviewers:
      - "ggange"
    allow:
      - dependency-type: "production"
      - dependency-type: "development"
    commit-message:
      prefix: "chore"
      prefix-scope: "deps"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

